* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
body {
	font-family: arial;
	color: #fff;
	font-size: 13px;
	line-height: 1.5em;
	background: url(../images/pattern.jpg);
}
.clearfix {
	clear: both;
}
.player_container {
	width: 60%;
	overflow: auto;
	background: #333;
	margin: 60px auto;
	border-radius: 120px;
	border: #666 solid 2px;
	-moz-border-radius: 120px;
	-webkit-border-radius: 120px;
}
#audio_image {
	float: left;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}
.info {
	text-align: center;
}
.info .artist {
	font-weight: bold;
}
.cover {
	z-index: 1;
	width: 80%;
	padding: 8px 0 0;
	border-radius: 159px;
}
input#volume {
	width: 100%;
	height: 1px;
	margin: 12px auto;
	background: #ccc;
	-webkit-appearance: none !important;
}
input#volume::-webkit-slider-thumb {
	width: 12px;
	height: 12px;
	-webkit-appearance: none !important;
	background: url(../images/knob.png) no-repeat;
}
.buttons button {
	background: inherit;
}
.buttons span {
	font-size: 30px;
}
#playlist {
	padding: 10px;
	height: 104px;
	overflow: scroll;
	overflow-x: hidden;
}
#playlist li {
	margin: 5px;
	cursor: pointer;
}
.tracker {
	width: 100%;
	position: relative;
}
#playlist li.active {
	padding: 3px;
	background: #666;
	font-weight: bold;
	list-style-image: url('../images/352072-16.png');
}
.progress_bar {
	height: 10px;
	background: url(../images/progress_bg.png) no-repeat;
}
.progress {
	height: 10px;
	display: inline-block;
	position: absolute;
	left: 0;
	background: url(../images/progress.png) no-repeat;
}
/*#duration {*/
	/*float: right;*/
	/*background: #000;*/
	/*padding: 4px 8px;*/
	/*border-radius: 5px;*/
/*}*/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
footer {
	padding: 25px;
	background-color: #f2f2f2;
}

.playlist {
	border-radius: 50%;
	padding: 0 0 13px;
}
h3 {
	color: black;
}
.playlist img {
	width: 80%;
}
.playlist_content {
	height: 168px;
	opacity: 0.7;
	position: relative;
	background: url(../images/broke.png) no-repeat scroll -20px;
}
.playlist_content:hover {
	opacity: 1;
}
.playlist_content div {
	padding: 15px 0 0;
}
.playlist_btns {
	top: 7px;
	left: 96px;
	display: none;
	position: absolute;
}
.playlist_content:hover .playlist_btns {
	display: block;
}
.click_play {
	top: 55px;
	left: -7px;
	position: absolute;
}
.glyphicon-play {
	font-size: 40px;
}
.glyphicon-pause {
	font-size: 40px;
}
h2 span {
	color: black;
}
.fix {
	position: fixed;
}
.navbar {
	width: 100%;
	z-index: 2;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.main_playlists {
	padding: 78px 0 0;
}
.modal {
	color: black;
}
.modal-content {
	background: #c9e2b3;
}
.modal label {
	display: block;
}
#songs_urls div {
	margin: 5px 0 0;
}
.problem {
	border: red;
	background: red;
}
.pause_btn {
	top: 55px;
	left: -7px;
	position: absolute;
}
.main_message {
	display: none;
}
.playlist_image {
	width: 100%;
	margin: 8px 0;
}
.action .playlist_content ,.action .playlist_btns {
	opacity: 1;
	display: block;
}

.song_name_header {
	right: 0;
	bottom: 0;
	top: -57px;
	left: -168px;
	color: black;
	position: absolute;
}
.search {
	color: black;
}

.action .playlist_content {
	-ms-transform: rotate(20deg); /* IE 9 */
	-webkit-transform: rotate(20deg); /* Safari */
	transform: rotate(20deg); /* Standard syntax */
}
.action .playlist_content .playlist_btns{
	-ms-transform: rotate(-20deg); /* IE 9 */
	-webkit-transform: rotate(-20deg); /* Safari */
	transform: rotate(-20deg);
	left: 75px;
	top: 11px;
}
.action .song_name_header {
	top: -93px;
	left: -177px;
}
.wrapper_player {
	position: relative;
}
.wrapper_player .playlist_btns a {
	z-index: 2;
	position: absolute;
}


@media only screen and (max-width: 600px) {
	.player_container {
		width: 90%;
	}
	.song_name_header {
		top: -60px;
		left: -81px;
	}
	.playlist {
		margin: 0 30px 0;
	}
	.cover {
		margin: 55px 0 0;
	}
}
